<%- include header %>

    <div class="header-right">
        <br>
        <span>你好,管理员&nbsp;&nbsp;</span>
          <span>
            <a href="/logout">退出</a>
          </span>
    </div>


<%- include footer %>