<%- include user_header.ejs %>

<div class="row row-style">
    <div class="col-md-8 position-2">
        <a href="/user_index">首页</a>
        <span>
          &nbsp;/&nbsp;
          <a href="/bid_list?activity_name=nnnn">竞价列表</a>
        </span>
        <span>
          &nbsp;/&nbsp;
          竞价1
        </span>
    </div>
</div>
<div class="box-2">
    <div class="modal-header" style="background:#F5F5F5">
        <br>
        <div class="h4-2">
            本次竞价无人胜出
        </div>
        <br>
    </div>
    <table class="table table-striped">
        <thead>
        <tr>
            <td class="bolder-1" colspan="2">
                出价列表
            </td>
            <td class="bolder-2" colspan="2">
                <a href="/price_statistics?present_bid_name=%E7%AB%9E%E4%BB%B71">价格统计</a>
            </td>
        </tr>
        <tr class="bold">
            <td class="wid-25">
                编号
            </td>
            <td class="wid-25">
                姓名
            </td>
            <td class="wid-25">
                价格/元
            </td>
            <td class="wid-25">
                手机号
            </td>
        </tr>
        </thead>
        <tbody>
        </tbody>
    </table>
    <div class="modal-footer"></div>
</div>

<%- include footer.ejs %>