<%- include user_header.ejs %>

<div class="row row-style">
    <div class="col-md-8 position-2">
        <a href="/user_index">首页</a>
        <span>
          &nbsp;/&nbsp;竞价列表
        </span>
    </div>
</div>

<div class="box-2">
    <div class="modal-header" style="background:#F5F5F5">
        <div class="left h4-1">
            竞价列表
        </div>
        <div class="right">
            <a href="/sign_up_list?activity_name=nnnn">报名列表</a>
        </div>
        <br>
    </div>
    <table class="table table-striped">
        <thead>
        <tr class="bold">
            <td>编号</td>
            <td>名称</td>
            <td>参与人数</td>
        </tr>
        </thead>
        <tbody>
        <tr>
            <td>
                1
            </td>
            <td>
                <a href="/bid_detail?present_bid_name=%E7%AB%9E%E4%BB%B71">竞价1</a>
            </td>
            <td>
                0
                /
                1
            </td>
        </tr>
        </tbody>
    </table>
    <div class="modal-footer"></div>
</div>
<%- include footer.ejs %>
