<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8" />
        <title>AccupassFb</title>
        <link rel="stylesheet" href="/stylesheets/bootstrap.css">
        <link rel="stylesheet" href="/stylesheets/style.css">
        <script lang='javascript' src="/javascripts/jquery-1.8.2.min.js"></script>
        <script lang='javascript' src='/javascripts/bootstrap.min.js'></script>
        <script lang='javascript' src='/javascripts/pagination.full.min.js'></script>


    </head>
    <body>

        <div class="header-left">
            <h2>活动通</h2>
        </div>
