<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8" />
        <title>Accupass_fb</title>
        <link rel="stylesheet" href="/stylesheets/bootstrap.css">
        <link rel="stylesheet" href="/stylesheets/style.css">
    </head>
    <body>

        <div class="header-left">
            <h2>活动通</h2>
        </div>



        <article>