<%- include header %>

    <div class="modal fade in" style="background:#F5F5F5;margin-top:5%">
      <div class="nav-header">
        <h4>用户登录</h4>
      </div>
      <div class="index-login position-3">
        <div class="nav-header text-right">
          <a href="/user_register">用户注册</a>
        </div>
        <form accept-charset="UTF-8" action="/create_login_session" method="post">
            <div class="input-prepend">
              <label class="add-on-1" for="user_帐号">帐号</label>
              <input class="wid-350" name="name" type="text">
            </div>
            <div class="input-prepend">
              <label class="add-on-1" for="user_密码">密码</label>
              <input class="wid-350" name="password" type="password">
            </div>
            <div class="btn-danger active">
                <%= error%>
            </div>
            <div class="nav-header text-right">
              <a href="/forgot_1">忘记密码</a>
            </div>
            <div>
              <input class="btn" name="commit" style="width:150px" type="submit" value="登   录">
            </div>
        </form>
      </div>
    </div>

<%- include footer %>