<%- include header.ejs%>
    <div id="show_area">
        <div class="box-1" id="show">
            <div class="modal-header" style="background:#F5F5F5 ">
                <br>
                <div class="h4-2">
                    <p style="font-size:30px">
                        p
                    </p>
                    <p style="font-size:20px">
                        参与人数
                        1
                        /
                        3
                    </p>
                </div>
            </div>
            <table class="table table-striped">
                <thead>
                <tr class="bold">
                    <td>
                        姓名
                    </td>
                    <td>
                        电话
                    </td>
                </tr>
                </thead>
                <tbody>
                <tr>
                    <td>
                        ii
                    </td>
                    <td>
                        181717833
                    </td>
                </tr>
                </tbody>
            </table>
            <div class="modal-footer">

            </div>
        </div>
    </div>


<%- include footer.ejs%>
