<%- include header %>

    <div class="modal fade in" style="background:#F5F5F5; margin-top:5%;">
      <div class="nav-header">
        <h4>新用户注册</h4>
      </div>
      <div class="index-login position-3">
        <div class="text-right">
          <a href="/">用户登录</a>
        </div>
        <form accept-charset="UTF-8" action="/register" method="post"><div style="margin:0;padding:0;display:inline"><input name="utf8" type="hidden" value="✓"><input name="authenticity_token" type="hidden" value="ujOeSOrGqVJjpzyCHd602fub02FD9IA6FkFuxJIm0Qg="></div>    <div class="input-prepend">
              <label class="add-on-1" for="user_帐号">帐号</label>
              <input class="wid-350" id="user_name" name="user[name]" type="text">
            </div>
            <div class="input-prepend">
              <label class="add-on-1" for="user_密码">密码</label>
              <input class="wid-350" id="user_password" name="user[password]" type="password">
            </div>
            <div class="input-prepend">
              <label class="add-on-1" for="user_请确认密码">请确认密码</label>
              <input class="wid-350" id="user_password_confirmation" name="user[password_confirmation]" type="password">
            </div>
            <div class="input-prepend">
              <label class="add-on-1" for="user_忘记密码问题">忘记密码问题</label>
              <input class="wid-350" id="user_forgot_pw_question" name="user[forgot_pw_question]" type="text">
            </div>
            <div class="input-prepend">
              <label class="add-on-1" for="user_忘记密码答案">忘记密码答案</label>
              <input class="wid-350" id="user_forgot_pw_answer" name="user[forgot_pw_answer]" type="text">
            </div>
            <div class="btn-danger active">
            </div>
            <div>
              <input class="btn" name="commit" style="width:150px" type="submit" value="注  册">
            </div>
        </form>
      </div>
    </div>
<%- include footer %>