<%- include header.ejs %>
<div class="header-right">
    <br>
    <span>你好,</span>
          <span>
            <%= user.name %>
              &nbsp;&nbsp;
          </span>
          <span>
            <a href="/logout">退出</a>
          </span>
</div>