%header
  活动列表
  .header-left.button_position
    %button.btn.btn-primary(ng-tap='synchronize_data()') 同步

  .header-right.button_position(ng-switch='button_status' )
    %button.btn.btn-primary( ng-tap='go_create()' ng-switch-when='able') 创建活动
    %button.btn.btn-primary(ng-disabled='true' ng-switch-when='disable') 创建活动

.wrapper.overflow-hidden
  %ul.list-style-2
    %li.text-vertical-align(ng-repeat="activity in activities" style="background:{{activity.active_status}}"
    ng-tap="go_apply(activity.active_name)" )
      .float-left.font-size-18px
        %a
          {{activity.active_name}}




