.button_position{
    height:40px;
    line-height:45px;
}
.activity_on_being{
    background: yellow;
}
.height-50px{
    height:50px;
}
.height-10-percent{
    height:10%
}
.font-size-18px{
    font-size:18px
}
.font-size-20px{
    font-size:20px
}
.font-size-30px{
    font-size:30px
}
.overflow-hidden{
    overflow: hidden
}
.text-vertical-align{
    height:40px;
    line-height:40px
}
.text-align-left{
    text-align:left
}
.text-align-center{
    text-align: center;
}
.float-left{
    float:left
}
.color-red{
    color:red
}
.width-100-percent{
    width:100%
}
.background-gray{
    background:gray
}
.background-orange{
    background: orange;
}
.add-on-1 {
    display: inline-block;
    width: 100px;
    height: 40px;
    min-width: 16px;
    padding: 4px 5px;
    font-size: 14px;
    font-weight: normal;
    line-height: 35px;
    text-align: center;
    text-shadow: 0 1px 0 #ffffff;
    background-color: #eeeeee;
    border: 1px solid #ccc;
}
.padding{
    padding-left:40px;
    padding-right:40px;
    text-align:center;
}
.wid-350{
    width:350px;
}
